# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://wpdntxbuffinrdontsed.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=xxxxxxxxxxxx
SUPABASE_SERVICE_ROLE_KEY=xxxxxxxxxx
SUPABASE_API_KEY=xxxxxxxxxxxx
SUPABASE_SECRET_KEY=xxxxxxxxxxx

# Upstash Redis (Rate Limiting)
UPSTASH_REDIS_REST_URL="https://splendid-duckling-68353.upstash.io"
UPSTASH_REDIS_REST_TOKEN="gQAAAAAAAQsBAAIncDFiMjk1MmQ3ZjVjODA0OGI2YmVhMjg2MGUzNmQzMmVjZXAxNjgzNTM"

# App
NEXT_PUBLIC_SITE_URL=http://localhost:3000

Recaptcha
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=6LeA6NcqAAAAAI6mYlJw22DTdpk0SSAABiW0a-6r
RECAPTCHA_SECRET_KEY=6LeA6NcqAAAAADOB7FD7O0_yvg2AZMQT7O2aIcHD

# Paystack  (NEXT_PUBLIC_ = safe for browser | no prefix = server only)
NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY=your_paystack_public_key_here
PAYSTACK_SECRET_KEY=your_paystack_secret_key_here


